<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftClassAndStruct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28C4DDE01CACC96F0035FE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C4DDF41CACC96F0035FE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C4DDFF1CACC96F0035FE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
